<a href="https://colab.research.google.com/github/Sai-nikhitha/pandas./blob/main/week2_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple  = 24, 42, 2.3456, "Hello"
my_tuple

(24, 42, 2.3456, 'Hello')

In [2]:
my_tuple2 = "One",
my_tuple2

('One',)

In [7]:
my_tuple = "hello", "there"
my_tuple2 = my_tuple, 45, "guido"

my_tuple

('hello', 'there')

In [4]:
my_tuple = "Hello", "World"
hello, world = my_tuple
print(hello)
print(world)

Hello
World

In [6]:
hello = "Welcome"
print(hello)
print(world)

Welcome
World